.tab-link {
    /* background-color: white !important; */
    font-weight:normal;
    color: black !important;
    transition: transform 0.3s;

  }
  .tab-link:hover {
    transform: scale(1.13);

  }

  .space-tab {
  
    border-radius: 5px;
    position: relative;
    top: 20px; 
  }

  .pokemon-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pokemon-image {
    width: 100px;
    height: 140px;
    object-fit:contain;
  }
  
  .pokemon-card {
    border: 15px solid rgb(240, 241, 200);
    border-radius: 10px;
    width:250px;
    /* padding-right: 25px; */
    font-size: x-small;
    font-weight: bolder;
    font-family:  Helvetica, sans-serif;
  }