.Navbar {
  background: whitesmoke;
  /* display: ; */
  justify-content: space-between;
  /* right: 100px!important; */
  height: 40px;
}

.dropdown-menu {
  background-color: whitesmoke; /* Replace with your desired background color */
}

.dropdown-submenu {
  background-color: whitesmoke; /* Replace with your desired background color */
}
.Navbar > * {
  font-size: 3em;
  padding: 10px;
}

.btn {
  /* padding-top:0 !important; */
}
.pokemon-image {
  /* width: 25px !important; */
  width: 100%;
  position: relative;
  background-color: #ffffff;
  
  background-size: cover;
  /* right: 0;
    top:0; */
  /* clip-path: inset(15px 0 15px 0)!important; */
}
